# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
backend/.venv/
.pytest_cache/
db.sqlite3
media/

# Node / React (Frontend)
node_modules/
dist/
dist-ssr/
*.local
.env
.env.*

# Sistema y Editores
.DS_Store
.vscode/
.idea/
*.log

diapositiva/